.hero {
    background-image: url("https://images.unsplash.com/photo-1556912167-f556f1f39fdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.hero .container {
    padding-top: 15%;
}

.hero h1 {
    color: #2F3954;
    font-size: 60px;
}

.hero p {
    color: #2F3954;
    opacity: 0.8;
}

form {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {
    font-size: 14px;
    color: gray;
}

input::placeholder {
    font-size: 17px;
    color: #000;
}

form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
    border-left: none;
}

form h4 {
    font-weight: 500;
}

@media screen and (max-width:768) {
    .hero .container {
        padding-top: 30%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    form .box {
        border-left: none;
    }

    form input {
        width: 100%;
    }
}